# basic

In [1]:
print('hello')

hello

In [2]:
a=24
print(a)

24

In [3]:
print("i am",a,"years old")

i am 24 years old

In [4]:
a=24
b=14
c=a+b
print(c)

38

In [1]:
num1=int(input("enter the first num:"))
num2=int(input("enter the sec num:"))
s=num1+num2
print("the sum is",s)

enter the first num:5
enter the sec num:6
the sum is 11

In [2]:
num1=int(input("enter the first num:"))
num2=int(input("enter the sec num"))
s=num1*num2
print("the product is",s)

enter the first num:6
enter the sec num5
the product is 30

In [4]:
num1=int(input("enter the first num:"))
num2=int(input("enter the sec num"))
s=num1//num2
print("the quotient is",s)

enter the first num:100
enter the sec num50
the quotient is 2

In [5]:
num1=float(input("enter the first num:"))
num2=float(input("enter the sec num"))
s=num1//num2
print("the remainder is",s)

enter the first num:4
enter the sec num2
the sum is 2.0

In [6]:
num1=int(input("enter the first num:"))
num2=int(input("enter the sec num"))
s=num1%num2
print("the remainder is",s)

enter the first num:10
enter the sec num5
the remainder is 0

In [ ]:
s=(input("enter the password:"))
password="shre15"

if(s==password):
    print("welcome")
else:
    print("try again!")

In [ ]:
s=int(input("enter the pin:"))
pin=1234

s=input("enter the password:")
password="shree1234"

if(pin and password):
    print("welcome shreya")
    
else:
    print("try again")

In [ ]:
s=int(input("enter the pin:"))
pin=1234

s=input("enter the password:")
password="shree1234"

if(pin==s and s==password):
    print("welcome shreya")
    
else:
    print("try again")

In [ ]:
s=int(input("enter the pin:"))
pin=1234

s1=input("enter the password:")
password="shree1234"

if(pin==s or password==s1):
    print("welcome shreya")
    
else:
    print("try again")

In [7]:
s="hello how are you?"
#[start:end]
print(s[-4:-1])

you

In [8]:
len(s)
for i in range(-4,-1):
    print(s[i])

y
o
u

In [9]:
for i in range(5,10):
    print(s[i])

h
o
w

In [5]:
fact=1
i=1

while i<=5:
    fact=fact*i
    i=i+1
print(fact)

120

In [4]:
s=0
i=0
while i<6:
    s+=i
    i+=1
    print(s)

0
1
3
6
10
15

# collections

In [1]:
#list is hetergrnous datatypes,mutable
#it can also include duplicates
list=[15,'shreya','july',2003,15 ,True]
print(list)

[15, 'shreya', 'july', 2003, 15, True]

In [2]:
#append is used add element in the end of list
list.append('shre')
print(list)

[15, 'shreya', 'july', 2003, 15, True, 'shre']

In [3]:
#insert will add the element which index position we select
list.insert(2,'tuesday')
print(list)

[15, 'shreya', 'tuesday', 'july', 2003, 15, True, 'shre']

In [10]:
list.remove(True)

In [11]:
print(list)

[15, 'shreya', 'tuesday', 'july', 2003, 15, 'shre']

In [12]:
list.clear()
print(list)

[]

In [13]:
list1=[1,25,36,93.4]
list2=[5,36.5,56,0]
print(list1+list2)

[1, 25, 36, 93.4, 5, 36.5, 56, 0]

In [25]:
 list1.extend(list2)

In [27]:
list2

[5, 36.5, 56, 0]

In [20]:
list5=[952,36,89,7,45,0]
# list5.sort(list5)
print(list5)

[952, 36, 89, 7, 45, 0]

In [23]:
list5=[952,36,89,7,45,0]
list5.sort(reverse= True)#reverse=true it will sort in descending order
print(list5)

[952, 89, 45, 36, 7, 0]

In [28]:
list5=[952,36,89,7,45,0]
list5.sort(reverse= False)#reverse=false it will sort in ascending order
print(list5)

[0, 7, 36, 45, 89, 952]

In [30]:
list5=[952,36,89,7,45,0]
list5=sorted(list5)#sorted will never change the list order
print(list5)

[0, 7, 36, 45, 89, 952]

In [32]:
list5=[952,36,89,7,45,0]
list6=sorted(list5)
list6

[0, 7, 36, 45, 89, 952]

In [7]:
list5=[952,36,89,7,45,0]

for i in list5:
    print(i*i)

906304
1296
7921
49
2025
0

In [8]:
#newlist=[output for listanme]
listnew=[i*i for i in list5]

In [9]:
listnew

[906304, 1296, 7921, 49, 2025, 0]

In [2]:
list5=[952,36,89,7,45,0]
s=[]
for i in list5:
    if i>50:
        s.append(i*i)

In [3]:
s

[906304, 7921]

In [5]:
slc=[i*i for i in list5 if i>50]

In [6]:
slc

[906304, 7921]

In [11]:
marks=[90,89,99,32,45,100]
grades=[]

for i in marks:
    if i>90:
        grades.append("A")
    else:
        grades.append("B")

In [12]:
grades

['B', 'B', 'A', 'B', 'B', 'A']

In [13]:
gradeslc=["A" if i>90 else "B" for i in marks]

In [14]:
gradeslc

['B', 'B', 'A', 'B', 'B', 'A']

# if the salary is more than 50000 ,reduce 10% tax else reduce reduce 5% tax and save remaining salary in a new list

In [23]:
sal=[19000,78000,10000,56000,45000,12000]
newsal=[]

for i in sal:
    if i>50000:
        #sal-sal*10%
         newsal.append( i-i*0.1)
    else:
        newsal.append(i-i*0.05)

In [24]:
newsal

[18050.0, 70200.0, 9500.0, 50400.0, 42750.0, 11400.0]

In [25]:
#newsallc=[(cond of if) (if)  (else) (else cond) (for cond)]
newsallc=[i-i*0.1 if i>50000 else i-i*0.05 for i in sal]

In [26]:
newsallc

[18050.0, 70200.0, 9500.0, 50400.0, 42750.0, 11400.0]

In [30]:
list1=[1,25,36,93,4]
list2=[5,36,5,0,56]

for i,j in zip(list1,list2):
    print(i+j)

6
61
41
93
60

# tuple

In [34]:
tup1=(5,'hello','hi',True,98.3)

In [35]:
tup1

(5, 'hello', 'hi', True, 98.3)

In [36]:
tup2=(69,56,99.9,99.98)
print(max(tup2))
print(min(tup2))
print(len(tup2))

99.98
56
4

In [37]:
tup3=sorted(tup2)

In [38]:
tup3

[56, 69, 99.9, 99.98]

# Dictionary

In [39]:
dict1={1:"shre",1:"shreya",1:"shree"}

In [40]:
dict1

{1: 'shree'}

In [45]:
dict2={1:"joe", 2:"shashi",3:"shashi"}

In [46]:
dict2

{1: 'joe', 2: 'shashi', 3: 'shashi'}

In [58]:
dict3={'name':"shreya",'hobbies':['sleeping','watching k dramas','eating']

SyntaxError: unexpected EOF while parsing (1638369916.py, line 1)

In [49]:
print(dict3['hobbies'])

['sleeping', 'watching k dramas', 'eating']

print(dict3[])

In [54]:
print(dict3['hobbies'][2])

eating

In [62]:

print("shreya's hobbies are",dict3['hobbies'])

shreya's hobbies are ['sleeping', 'watching k dramas', 'eating']

In [60]:
dict3.items()

dict_items([('name', 'shreya'), ('hobbies', ['sleeping', 'watching k dramas', 'eating'])])

In [61]:
dict3.keys()

dict_keys(['name', 'hobbies'])

# set