In [1]:
import numpy as pandas
import pandas as pd
from  sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv("E:\OneDrive\Desktop\diabetcsv.csv")

In [3]:
df.tail()

     preg  plas  pres  skin  insu  mass   pedi  age            class
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

In [4]:
df.isnull().sum()

preg     0
plas     0
pres     0
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [5]:
feat = df [['plas','insu','mass','age']]
targ = df['class']

In [6]:
DT =  DecisionTreeClassifier()

In [7]:
DT.fit(feat,targ)

DecisionTreeClassifier()

In [10]:
age = int(input("enter the age:"))
mass = int(input("enter the mass:"))
insu = int(input("enter the insu:"))
plas = int(input("enter the plas:"))
pred = DT.predict([[age,mass,insu,plas]])
if pred == 'tested_positive':
    print("yes you have diabetes")
else:
    print("hurry! you are not a diabetes patient")

enter the age:36
enter the mass:12
enter the insu:12
enter the plas:10
hurry! you are not a diabetes patient

C:\Users\Shreya\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [11]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [12]:
df= pd.read_csv("E:\OneDrive\Desktop\demodt.txt")

In [16]:
df

   State  Literacy  Cleanliness  Crime_Rate  Good
0      A        92           90          54     0
1      B        56           67          50     1
2      C        78           85          62     0
3      D        63           72          48     1
4      E        85           79          55     0
5      F        71           68          58     0
6      G        80           83          51     0
7      H        67           74          47     1
8      I        89           88          53     0
9      J        58           65          49     1
10     K        82           81          60     0
11     L        75           78          57     0
12     M        69           70          46     1
13     N        87           86          52     0
14     O        61           63          45     1
15     P        93           91          56     0
16     Q        55           66          61     0
17     R        76           77          59     0
18     S        84           82          44     1
19     T        70           69          50     1
20     U        94           92          57     0
21     V        59           64          52     0
22     W        83           80          43     1
23     X        74           76          63     0
24     Y        68           73          41     1
25     Z        88           84          47     1

In [17]:
feat = df [['Literacy','Cleanliness','Crime_Rate']]
targ = df['Good']

In [20]:
RF = RandomForestClassifier(n_estimators=10)#100

In [21]:
RF.fit(feat,targ)

RandomForestClassifier(n_estimators=10)

In [22]:
l =  int(input("enter Literacy:"))
cl =  int(input("enter Cleanliness:"))
cr =  int(input("enter Crimerate:"))
pred = RF.predict([[l,cl,cr]])

if pred == 1:
    print("good state")
else:
    print("bad state")

enter Literacy:10
enter Cleanliness:23
enter Crimerate:258
bad state

C:\Users\Shreya\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(